@model SicIdev.API.Models.Selection

@{
    ViewBag.Title = "Création";
}

<h2 style="text-align: center" class="alert alert-info">Fiche de Selection d'Appel d'Offre (FSAO)</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="panel panel-default">
        <div class="panel-heading col-md-12">
            <h2 style="text-align: center">Identification et imputation</h2>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.ProvenantDe, "Provenance A.O.", htmlAttributes: new { @class = "control-label col-md-3" })
                    @Html.EditorFor(model => model.ProvenantDe, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ProvenantDe, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(model => model.NatureaoId, "Nature du dossier", htmlAttributes: new { @class = "control-label col-md-3" })
                    @Html.DropDownList("NatureaoId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.NatureaoId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.DepartementId, "Pôle imputé", htmlAttributes: new {@class = "control-label col-md-3"})
                    @Html.DropDownList("DepartementId", null, htmlAttributes: new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.DepartementId, "", new {@class = "text-danger"})
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(model => model.Echeance, "Echéance", htmlAttributes: new {@class = "control-label col-md-3"})
                    @Html.EditorFor(model => model.Echeance, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Echeance, "", new {@class = "text-danger"})
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 style="text-align: center">Contenu du dossier d'appel d'offre</h2>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.OrigineaoId, "Origine Dossier", htmlAttributes: new { @class = "control-label col-md-3" })
                    @Html.DropDownList("OrigineaoId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.OrigineaoId, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(model => model.TypeaoId, "Type A.O.", htmlAttributes: new { @class = "control-label col-md-3" })
                    @Html.DropDownList("TypeaoId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TypeaoId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.DateConnaissance, "Date connaissance", htmlAttributes: new { @class = "control-label col-md-3" })
                    @Html.EditorFor(model => model.DateConnaissance, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DateConnaissance, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(model => model.PaysId, "Pays", htmlAttributes: new { @class = "control-label col-md-3" })
                    @Html.DropDownList("PaysId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PaysId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.Ville, "Ville de l'A.O.", htmlAttributes: new { @class = "control-label col-md-3" })
                    @Html.EditorFor(model => model.Ville, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Ville, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(model => model.ClientId, "Nom du client", htmlAttributes: new {@class = "control-label col-md-3"})
                    @Html.DropDownList("ClientId", null, htmlAttributes: new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.ClientId, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.Connu, "Le client connu ?", htmlAttributes: new {@class = "control-label col-md-3"})
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Connu)
                        @Html.ValidationMessageFor(model => model.Connu, "", new {@class = "text-danger form-control"})
                    </div>
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(model => model.PriseEnChargeId, "Prise en charge ", htmlAttributes: new {@class = "control-label col-md-3"})
                    @Html.DropDownList("PriseEnChargeId", null, htmlAttributes: new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.PriseEnChargeId, "", new {@class = "text-danger"})
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.Projet, htmlAttributes: new {@class = "control-label col-md-3"})
                    @Html.EditorFor(model => model.Projet, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Projet, "", new {@class = "text-danger"})
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(model => model.DomaineId, "Domaine", htmlAttributes: new {@class = "control-label col-md-3"})
                    @Html.DropDownList("DomaineId", null, htmlAttributes: new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.DomaineId, "", new {@class = "text-danger"})
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.Commentaires, htmlAttributes: new {@class = "control-label col-md-3"})
                    @Html.EditorFor(model => model.Commentaires, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Commentaires, "", new {@class = "text-danger"})
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(model => model.CadreDeConcertation,"cadre concertation ", htmlAttributes: new {@class = "control-label col-md-3"})
                    <div class="checkbox">
                        @Html.EditorFor(model => model.CadreDeConcertation)
                        @Html.ValidationMessageFor(model => model.CadreDeConcertation, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.ComplementInfos, "Complément info", htmlAttributes: new {@class = "control-label col-md-3"})
                    @Html.EditorFor(model => model.ComplementInfos, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.ComplementInfos, "", new {@class = "text-danger"})
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(model => model.Partenaire, "Partenaire ciblé", htmlAttributes: new {@class = "control-label col-md-3"})
                    @Html.EditorFor(model => model.Partenaire, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Partenaire, "", new {@class = "text-danger"})
                </div>
            </div>

        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 style="text-align: center">Montage du Dossier </h2>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.Observations, "Agent Pôle commercial", htmlAttributes: new {@class = "control-label col-md-3"})
                    @Html.EditorFor(model => model.Observations, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Observations, "", new {@class = "text-danger"})
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(model => model.AgentId, "Chargé de montage technique", htmlAttributes: new {@class = "control-label col-md-3"})
                    @Html.DropDownList("AgentId", null, htmlAttributes: new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.AgentId, "Chargé de montage", new {@class = "text-danger"})
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 style="text-align: center" class="alert alert-danger">Visa des diffèrents pôles </h2>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.VisaChefService, htmlAttributes: new {@class = "control-label col-md-3"})
                    @Html.EditorFor(model => model.VisaChefService, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.VisaChefService, "", new {@class = "text-danger"})
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(model => model.DateVisaCs, htmlAttributes: new {@class = "control-label col-md-3"})
                    @Html.EditorFor(model => model.DateVisaCs, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.DateVisaCs, "", new {@class = "text-danger"})
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.VisaServiceCom, htmlAttributes: new {@class = "control-label col-md-3"})
                    @Html.EditorFor(model => model.VisaServiceCom, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.VisaServiceCom, "", new {@class = "text-danger"})
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(model => model.DateVisaCom, htmlAttributes: new {@class = "control-label col-md-3"})
                    @Html.EditorFor(model => model.DateVisaCom, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.DateVisaCom, "", new {@class = "text-danger"})
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.VisaDg, htmlAttributes: new {@class = "control-label col-md-3"})
                    @Html.EditorFor(model => model.VisaDg, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.VisaDg, "", new {@class = "text-danger"})
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(model => model.DateVisaDg, htmlAttributes: new {@class = "control-label col-md-3"})
                    @Html.EditorFor(model => model.DateVisaDg, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.DateVisaDg, "", new {@class = "text-danger"})
                </div>
            </div>
        </div>
    </div>
    <div class="form-group panel panel-default">
        <div class="col-md-offset-2 col-md-10 panel-heading">
            <input type="submit" value="Enregistrer" class="btn btn-default" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}